{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link rel="stylesheet" href="{% static '/css/eventos.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="shortcut icon" href="{% static '/img/iconos/logo_alt.ico' %}" />
</head>

<body>
    {% csrf_token %}
    {% include "nabvar.html" %}
    <main class="container">
    <section id="proximos-eventos" class="my-12 reveal-item">
        <h2 class="text-4xl font-bold text-center text-primary mb-10">🎉 Próximos Eventos</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for e in eventos %}
                <div class="event-card">
                <div class="event-image">
                    <img src="{{e.imagen_principal.url}}" alt="Feria Artesanal">
                    <div class="date-badge">
                        <span class="block text-2xl leading-none">{{ e.fecha|date:"d" }}</span>
                        <span class="block text-xs uppercase">{{ e.fecha|date:"M" }}</span>
                    </div>
                </div>
                <div class="p-6">
                    <h3 class="text-2xl font-semibold mb-2 text-dark">{{e.nombre}}</h3>
                    <p class="text-gray-600 mb-2"><i class="fas fa-map-marker-alt mr-2 text-primary"></i>{{e.ubicacion}}</p>
                    <!-- <p class="text-gray-600 mb-4"><i class="fas fa-clock mr-2 text-primary"></i>10:00 - 18:00</p> -->
                    <p class="text-gray-700 text-sm mb-4">{{e.descripcion_corta}}</p>
                    <a href="{% url 'info_eventos' e.id %}" class="inline-block bg-primary hover:bg-secondary text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out">
                        Más Detalles
                    </a>
                </div>
            </div>
            {% endfor %}
    </section>

    <section id="categorias" class="my-12 reveal-item">
        <h2 class="text-4xl font-bold text-center text-primary mb-10">Explora por Categorías</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">

            <a href="#" data-category="musica" class="category-card">
                <i class="fas fa-music"></i>
                <h3 class="text-xl font-semibold">Música</h3>
            </a>

            <a href="#" data-category="gastronomia" class="category-card">
                <i class="fas fa-utensils"></i>
                <h3 class="text-xl font-semibold">Gastronomía</h3>
            </a>

            <a href="#" data-category="arte" class="category-card">
                <i class="fas fa-paint-brush"></i>
                <h3 class="text-xl font-semibold">Arte y Cultura</h3>
            </a>

            <a href="#" data-category="deporte" class="category-card">
                <i class="fas fa-futbol"></i>
                <h3 class="text-xl font-semibold">Deporte</h3>
            </a>

            <a href="#" data-category="comunidad" class="category-card">
                <i class="fas fa-users"></i>
                <h3 class="text-xl font-semibold">Comunidad</h3>
            </a>

        </div>
    </section>

    <section id="eventos-pasados" class="my-12 reveal-item">
        <h2 class="text-4xl font-bold text-center text-primary mb-10">✨ Momentos que Recordamos</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

            <div class="event-card past-events">
                <div class="event-image">
                    <img src="https://placehold.co/600x400/7CFC00/FFFFFF?text=FESTA+2024" alt="FESTA 2024">
                </div>
                <div class="p-6">
                    <h3 class="text-2xl font-semibold mb-2 text-dark">FESTA 2024</h3>
                    <p class="text-gray-600 mb-4">Fecha: 25 Nov 2024</p>
                    <p class="text-gray-700 text-sm mb-4">Integración del FESTA 2024. ¡Revive estos grandiosos recuerdos!</p>
                    <a href="{% url 'galeria-eventos' 1 %}" class="inline-block text-primary hover:underline font-bold transition duration-300 ease-in-out">
                        Ver Galería <i class="fas fa-arrow-right ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="event-card past-events">
                <div class="event-image">
                    <img src="https://placehold.co/600x400/7CFC00/FFFFFF?text=HISTORIA+DE+LETICIA" alt="FESTA 2024">
                </div>
                <div class="p-6">
                    <h3 class="text-2xl font-semibold mb-2 text-dark">HISTORIA DE LETICIA</h3>
                    <p class="text-gray-700 text-sm mb-4">Recorre y descubre la fascinante historia de <b>Leticia - Amazonas</b></p>
                    <a href="{% url 'galeria-eventos' 2 %}" class="inline-block text-primary hover:underline font-bold transition duration-300 ease-in-out">
                        Ver Galería <i class="fas fa-arrow-right ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>
    <script src="{% static '/js/eventos.js' %}"></script>
    <script src="{% static "/js/navbar.js" %}"></script>
    <script src="{% static "/js/logout.js" %}"></script>
</body>

</html>