{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Hoteles</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="shortcut icon" href="{% static '/img/iconos/logo_alt.ico' %}" />
</head>

<body>
    {% csrf_token %}
    <div class="fondo-dinamico">
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
    </div>
    <div>{% csrf_token %}</div>
    {% include "nabvar.html" %}
    <main>
        <div class="cont-acciones-principales">
            <h1>Bienvenido {{user.username}}</h1>
            <div class="acciones-container">
                <div class="input-container">
                    <input type="text" name="buscador_hotel" class="input" placeholder="Buscar hotel por nombre...">
                    <button class="buscador_hotel">Buscar</button>
                </div>
                <div class="filtros-container">
                    <div class="filtros-estrellas">
                        <button data-estrella="1">1 ⭐</button>
                        <button data-estrella="2">2 ⭐</button>
                        <button data-estrella="3">3 ⭐</button>
                        <button data-estrella="4">4 ⭐</button>
                        <button data-estrella="5">5 ⭐</button>
                        <button class="filtros-estrellas-activado" data-estrella="todos">Todos</button>
                    </div>
                    <div class="filtros-precios">
                        <button data-rango="0-100000">$0 - $100K</button>
                        <button data-rango="100001-200000">$100K - $200K</button>
                        <button data-rango="200001-300000">$200K - $300K</button>
                        <button data-rango="300001-mas">+$300K</button>
                        <button class="filtros-precios-activado" data-rango="todos">Todos</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-hotel">
            {% for item in informacion %}
            <div class="card-hotel">
                <div class="container-informacion">
                    <div class="titulo">
                        <h2>{{ item.hotel.nombre }}</h2>
                        <div class="container-estrellas">{% for i in item.hotel.estrellas_llenas %}
        <img class="estrella" src="{% static 'img/iconos/estrella.png' %}" alt="Estrella">
    {% endfor %}
    {% for i in item.hotel.estrellas_vacias %}
        <img class="estrella" src="{% static 'img/iconos/estrella_vacia.png' %}" alt="Estrella Vacía">
    {% endfor %}
                        </div>
                    </div>
                    <div class="informacion_rapida">
                        <p class="habitaciones">{{ item.hotel.habitaciones_libres}} habitaciones disponibles </p>
                        <p class="precio"> Desde {{ item.hotel.precio}} COP </p>
                        <p class="valoracion">⭐ {{ item.hotel.estrellas}}/5 
                            {% if item.hotel.resenas %}
                            ({{ item.hotel.resenas}} reseñas)
                            {% else %}
                             (0 reseñas)
                            {% endif %}
                        </p>
                    </div>

                </div>
                <div class="container-img">
                    {% for img in item.imagenes %}
                    {% if forloop.first %}
                    <img class="img-hotel" src="{{ img.imagen.url }}" alt="">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="informacion">
                    <div class="informacion_secundaria"><img class="iconos" src="{% static "/img/iconos/mensaje-destacado.png" %}" alt=""></div>
                    <button class="info-hotel" id_hotel="{{item.hotel.id}}">Ver más</button>
                </div>
            </div>
            {% endfor %}
    </main>
    <script src="{% static "/js/home.js" %}"></script>
    <script src="{% static "/js/logout.js" %}"></script>
    <script src="{% static "/js/navbar.js" %}"></script>
</body>

</html>