{% load static %}
<nav>
        <ul>
            <li><img class="iconos-nav" src="{% static "img/iconos/hogar.png" %}" alt=""><a href="{% url "home" %}">Home</a></li>
            <li><img class="iconos-nav" src="{% static "img/iconos/eventos.png" %}" alt=""><a
                    href="{% url "eventos" %}">Eventos</a></li>
            <li><img class="iconos-nav" src="{% static "img/iconos/escritorio.png" %}" alt=""><a href="#">Servicios</a>
            </li>
            <li><img class="iconos-nav" src="{% static "img/iconos/centro-de-llamadas.png" %}" alt=""><a
                    href="#">Ayuda</a></li>
            <li><img class="iconos-nav" src="{% static "img/iconos/exito.png" %}" alt=""><a href="#">Acerca de
                    nostros</a></li>
        </ul>
        <div class="logout">
            <button id="logout">Cerrar Sesión</button>
            <a href="#">Hoteles UNAL</a>
        </div>
    </nav>