{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de hoteles</title>
    <link rel="stylesheet" href="{% static 'css/lista_hoteles.css' %}">
    <link rel="shortcut icon" href="{% static '/img/iconos/logo_alt.ico' %}" />
</head>

<body>
    <div class="modal-oculto">
        <main class="main-oculto">
            <header>
                <h1>[Nombre del hotel]</h1>
                <button class="button" id="close">
                    <span class="X"></span>
                    <span class="Y"></span>
                    <div class="close">Close</div>
                </button>
            </header>
            <div class="modal-informacion">
                <section class="informacion-1">
                    <p>Descripción: </p>
                </section>
                <section class="informacion-2">
                    <p id="precio">Precio: </p>
                    <p id="precio_noche">Precio por noche: </p>
                    <div id="estrellas">
                        <p>Estrellas: </p>
                        <div class="cont-estrellas"></div>
                    </div>
                    <p id="ubicacion">Ubicación: </p>
                    <p id="habitaciones">Habitaciones: </p>
                    <p id="habitaciones_libres">Habitaciones libres: </p>
                </section>
            </div>
            <div class="cont-imgs">
            </div>
        </main>
    </div>
    <div>{% csrf_token %}</div>
    {% include "navbar.html" %}
    <main>
      <!--   <div class="elimacion-exitosa">
            <p>{{mensaje}}</p>
        </div> -->
        <div class="container-add"><!-- From Uiverse.io by catraco -->
            <button title="Add" class="cssbuttons-io-button">
                <svg height="25" width="25" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                </svg>
                <span>Agregar nuevo hotel</span>
            </button>
        </div>
        <div class="lista-hoteles">
            {% for h in hoteles %}
            <div class="hotel">
                <div class="icon">
                    <img src="{% static "img/iconos/hotel.png" %}" alt="">
                </div>
                <div class="informacion">
                    <p>Nombre:{{h.nombre}} </p>
                    <p>Estrellas: {{h.estrellas}}</p>
                    <p>Ubicación: {{h.ubicacion}}</p>
                </div>
                <div class="botones">
                    <button class="btn-informacion" id-hotel="{{h.id}}">Ver información</button>
                    <div class="cont-btn-acciones">
                        <button class="btn-eliminar" id-hotel="{{h.id}}">Eliminar</button>
                        <button class="btn-actualizar" id-hotel="{{h.id}}">Actualizar</button>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </main>
<script src="{% static "/js/logout.js" %}"></script>
<script src="{% static "/js/lista_hoteles.js" %}"></script>
</body>


</html>